
body{
    background-color: #0096D7;
    margin: 10px;
}
h1{
    text-align: center;
    background-color: coral;
    height: fit-content;
    width: 350px;
    margin:auto;
    padding:10px;
}
.ex{
    text-align: center;
}
.corpo{
    text-align: center;
    line-height: 1.6;
}
input{
    height: 10px;
    width: 170px;
    margin: 10px;
}
.um{
    display: flex;
}
canvas{
    border: 1px black solid;
    position: relative;
    left: 195px;
}
   
